<ion-app>
  <ion-split-pane>
    <ion-menu class="app-sidemenu">
      <ion-header>
        <ion-toolbar>
          <ion-row class="user-details-wrapper">
            <ion-col size="4">
              <app-aspect-ratio [ratio]="{w: 1, h: 1}">
                <app-image-shell class="user-avatar" animation="spinner" [src]="'https://pbs.twimg.com/profile_images/722153095761903616/WjIKQ7Wm_400x400.jpg'"></app-image-shell>
              </app-aspect-ratio>
            </ion-col>
            <ion-col class="user-info-wrapper" size="8">
              <h3 class="user-name">Username</h3>
              <h5 class="user-handle">@accountid</h5>
            </ion-col>
          </ion-row>
          <ion-row class="user-stats-wrapper user-details-wrapper">
            <ion-col>
              <ion-tab-button href="/auth/login">
                <ion-icon src="./assets/sample-icons/tabs/profile.svg"></ion-icon>
                <ion-label class="tab-title">LOG IN</ion-label>
              </ion-tab-button>
            </ion-col>
            <ion-col>
              <ion-tab-button href="/auth/signup">
                <ion-icon src="./assets/sample-icons/tabs/profile.svg"></ion-icon>
                <ion-label class="tab-title">REGISTER</ion-label>
              </ion-tab-button>
            </ion-col>
          </ion-row>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-list-header>My account</ion-list-header>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item [routerLink]="p.url">
              <ion-icon slot="start" class="like-icon" name="heart"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <ion-list>
          <ion-list-header>Recipe management</ion-list-header>
          <ion-menu-toggle auto-hide="false">
            <ion-item [routerLink]="['/showcase/app-shell']">
              <ion-icon slot="start" class="like-icon" name="heart"></ion-icon>
              <ion-label>
                Create
              </ion-label>
            </ion-item>
            <ion-item [routerLink]="['/showcase/route-resolvers-ux']">
              <ion-icon slot="start" class="like-icon" name="heart"></ion-icon>
              <ion-label>
                Update
              </ion-label>
            </ion-item>
            <ion-item [routerLink]="['/showcase/custom-components']">
              <ion-icon slot="start" class="like-icon" name="heart"></ion-icon>
              <ion-label>
                Delete
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>


        <ion-list>
          <ion-list-header>Forms</ion-list-header>
          <ion-menu-toggle auto-hide="false">
            <ion-item [routerLink]="['/forms-and-validations']">
              <ion-icon slot="start" src="./assets/sample-icons/side-menu/forms.svg"></ion-icon>
              <ion-label>
                Forms & Validations
              </ion-label>
            </ion-item>
            <ion-item [routerLink]="['/forms-filters']">
              <ion-icon slot="start" name="options"></ion-icon>
              <ion-label>
                Filters
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        <ion-list>
          <ion-list-header>My application</ion-list-header>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of accountPages; let i = index">
            <ion-item [routerLink]="p.url">
              <ion-icon slot="start" class="like-icon" name="heart"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <!-- Main app content get's rendered in this router-outlet -->
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
